<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter App</title>
</head>
<body>
    <h1>Welcome to the Counter App!</h1>
    <p>This page has been visited {{ visit_count }} times.</p>
    <p>Last visit time: {{ visit_time }}</p>
</body>
</html>
